<div class="header">
  <div class="container">
    <div>
      <p >{{name}}</p>
      <p >{{email}}</p>
      <p >{{this.clockService.time$ | async | moment: 'HH:mm:ss'}}</p>
    </div>
    <div>

      <button mat-stroked-button color="primary"
        *ngIf="!auth"
        (click)="this.authService.showAuth()"
      >Вход
      </button>

      <button mat-stroked-button color="primary"
        *ngIf="auth"
        (click)="this.authService.logout()"
      >Выход
      </button>

    </div>
  </div>
</div>

