<div class="selector">
<!--    <span class="selector-title">Календарь</span>-->

    <span class="selector-month">{{ this.dateService.date$ |async |moment: 'MMMM YYYY' }}</span>

    <button mat-mini-fab color="basic" (click)="goMonth(-1)">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <button mat-mini-fab color="basic" (click)="goMonth(1)">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>



<!--  <p class="today" title="На сегодня"-->
<!--     (click)="dateService.goToday()"-->
<!--  >Сегодня: {{this.clockService.time$ | async | moment: 'DD-MM-YYYY HH:mm:ss'}}</p>-->

</div>





