<div class="modal-background">
  <div class="modal-window">
    <div class="modal-header">
      <span class="modal-title">
        Корзина <span *ngIf="selectedTasks.length"> (выбрано: {{selectedTasks.length}} из {{allTasks.length}})</span>
      </span>
      <button mat-mini-fab color="basic" title="Закрыть корзину"
              (click)="this.modalService.$showTrash.next(false)">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="modal-content">

      <div class="trash-controls">
        <!-- select all-->
        <button mat-mini-fab color="{{ this.allTasksSelected ? 'primary' : 'basic' }}"
                title="{{ this.allTasksSelected ? 'Снять выделение' : 'Выбрать все' }}"
                (click)="selectAll()">
          <mat-icon>list</mat-icon>
        </button>
        <!-- sort -->
        <button mat-mini-fab color="basic" [matMenuTriggerFor]="menu" aria-label="Сортировка">
          <mat-icon>sort</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="sort('title')">
            <mat-icon>sort_by_alpha</mat-icon>
            <span>По названию</span>
          </button>
          <button mat-menu-item (click)="sort('date')">
            <mat-icon>sort_by_alpha</mat-icon>
            <span>По дате создания</span>
          </button>
          <button mat-menu-item (click)="sort('isDone')">
            <mat-icon>sort_by_alpha</mat-icon>
            <span>Выполнено/не выполнено</span>
          </button>
        </mat-menu>

        <!-- recover -->
        <button mat-mini-fab color="primary" title="Восстановить выбранные" [disabled]="selectedTasks.length < 1" (click)="restoreSelectedTasks()">
          <mat-icon>restore_from_trash</mat-icon>
        </button>
        <!-- delete -->
        <button mat-mini-fab color="warn" title="Удалить навсегда" [disabled]="selectedTasks.length < 1" (click)="confirmDelete()">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>

      <div class="tasks-wrapper">
        <div class="task {{task.selected && 'selected'}}" *ngFor="let task of allTasks" (click)="selectTask(task)">
          <div class="info">
            <span class="name">{{ task.title }}</span>
            <span class="done {{task.isDone && 'is-done'}}">{{ task.isDone ? 'Выполнена' : 'Не выполнена' }}</span>
            <span class="create">Дата создания: {{ task.date }}</span>
          </div>
          <div class="checkbox">
            <span class="material-icons">{{task.selected ? 'check_box' : 'check_box_outline_blank'}}</span>
          </div>
        </div>
      </div>

      <p class="trash-counter">Выбрано: {{selectedTasks.length}}</p>

    </div>

    <div class="modal-footer"></div>
  </div>
</div>

