<div class="wrapper">
  <div class="modal">
    <header>
      <p>{{ newUser ? 'Registration' : 'Log In' }} <span style="color: red; font-size: 14px">{{ this.auth.error }}</span></p>
      <button class="btn btn-red" (click)="switchModalVisible.emit()">x</button>
    </header>
    <main>

      <form #userForm='ngForm'>

        <div class="form-item" *ngIf="newUser" minlength="5">
          <label>Name:
            <input name="name" placeholder="your name" required>
          </label>
        </div>

        <div class="form-item">
          <label>Email:
            <input name="email" placeholder="your email" [(ngModel)]="email" required>
          </label>
        </div>

        <div class="form-item">
          <label>Password:
            <input name="password" type="password" [(ngModel)]="password" placeholder="your password" required minlength="6">
          </label>
        </div>

        <div class="form-item">
          <span class="form-mode" (click)="this.newUser = !this.newUser"> {{ !newUser ? 'Зарегистрироватся' : 'Уже зарегистрирован' }} </span>
        </div>

        <div class="form-item">
          <button
            (click)="submit()"
            [disabled]="userForm.invalid"
            class="btn btn-primary"
          >submit
          </button>
        </div>

      </form>

    </main>
  </div>
</div>
