<div class="main">

  <app-header
    [isAuthorized]="isAuthorized"
    (logout)="logout()"
    (switchModalVisible)="switchModalVisible()"
  ></app-header>

  <div class="container" *ngIf="isAuthorized">
    <app-selector></app-selector>
    <app-calendar
      [allTasks]="allTasks"
    ></app-calendar>
    <app-organizer
      [user]="user"
      [tasks]="tasks"
    ></app-organizer>
  </div>

  <app-modal
    *ngIf="modalVisible"
    (login)="login($event)"
    (switchModalVisible)="switchModalVisible()"
  ></app-modal>

</div>

