<div class="main">

  <!-- header-->
  <app-header [viewMode]="viewMode" (setViewMode)="setViewMode($event)" ></app-header>

  <!-- content-->
  <div *ngIf="this.authService.currentUser | async">

    <!-- container for content-->
    <div class="container">

      <!-- view mode organizer-->
      <div *ngIf="this.viewMode === 'calendar'">
        <app-selector></app-selector>
        <app-calendar></app-calendar>
        <app-organizer></app-organizer>
      </div>

      <!-- view mode list-->
      <div *ngIf="this.viewMode === 'list'">
        <h1>Tasks list</h1>
      </div>

    </div>

  </div>

  <!-- trash modal window-->
  <app-trash *ngIf="this.modalService.$showTrash | async" ></app-trash>

  <!-- add task modal window-->
  <app-add-task *ngIf="this.modalService.$showAddTask | async" ></app-add-task>

  <!-- authorization window-->
  <app-auth *ngIf="this.authService.authWindow | async"></app-auth>

  <!-- add new task button-->
  <div class="add-task-container">
    <button mat-fab color="warn" title="Добавить задачу" (click)="this.modalService.$showAddTask.next(true)">
      <mat-icon>add_task</mat-icon>
    </button>
  </div>

</div>



