section {
  background-color: #e7eef5;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  background-color: white;
  th.sunday, th.saturday  {
    background-color: #f44336;
    color: white;
  }
  td, th {
    border: 1px solid #9e9a9a;
    padding: 0.5rem 1rem;
  }
  td {
    position: relative;
    text-align: center;
    transition: all .2s;
    opacity: 0.5;
    //background-color: white;
    .counter {
      opacity: 1;
    }
    &.disabled {
      opacity: 0.2;
    }
    &:hover:not(.disabled) {
      //background: #f5e3cd;
      cursor: pointer;
      opacity: 1;
      font-weight: bold;
      transition: all .2s;
    }
    .active {
      color:var(--primary-color);
      font-weight: bold;
    }
    &.selected {
      opacity: 1;
      font-weight: bold;
    }
  }
}

.weekday {
  //background-color: #ff1515;
}

.saturday {
  //background-color: #ee5555;
}

.sunday {
  //background-color: #e32a2a;
}

.counter {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #000000;
  background-color: #00c9ff;
}

