.calendar {

}

table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 1rem;
  border-collapse: collapse;
  color: var(--black-color);
  background-color: transparent;
  th {
    background-color: transparent;
    font-size: 12px;
    max-height: 2.5rem;
    vertical-align: top;
    padding: 5px;
  }
  th.sunday, th.saturday  {
    color: var(--weekday-color);
  }
  td {
    border: 1px solid var(--border-color);
    height: 5rem;
    vertical-align: top;
    text-align: center;
    transition: all .2s;
    font-size: 12px;
    overflow: hidden;
    padding: 5px;
    cursor: pointer;
    &.disabled {
      opacity: 0.5;
      cursor: initial;
    }
    &:hover:not(.disabled) {
      background-color: rgba(121, 186, 243, 0.25);
      .calendar-day {
        color: black;
      }
    }
    .active {
      color:var(--primary-color);
      font-weight: bold;
    }
    &.selected {
      color: black;
      background-color: rgba(121, 186, 243, 0.25);
      .calendar-day {
        font-weight: bold;
      }
    }
  }
}

.td-content {
  max-height: 5rem;
  overflow: hidden;
}
.day-task {
  margin-bottom: 2px;
  max-width: 95%;
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
  text-align: left;
  font-weight: normal;
  background-color: var(--task-color);
  padding: 2px;
  border-radius: 2px;
}
