<section>
  <table>
    <thead>
    <tr>
      <th class="weekday">Пн</th>
      <th class="weekday">Вт</th>
      <th class="weekday">Ср</th>
      <th class="weekday">Чт</th>
      <th class="weekday">Пт</th>
      <th class="saturday">Сб</th>
      <th class="sunday">Вс</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let week of calendar">
      <td
        *ngFor="let day of week.days; let i = index"
        [class.weekday]="i<5"
        [class.saturday]="i==5"
        [class.sunday]="i==6"
        [class.disabled]="day.disabled"
        [class.selected]="day.selected"
        (click)="select(day.value)"
      >
      <span [class.active]="day.active">{{ day.value | moment: 'DD' }}</span>
      <span *ngIf="day.hasTasks > 0" class="counter">{{day.hasTasks}}</span>

      </td>
    </tr>
    </tbody>

  </table>
</section>

