<!--<div class="wrapper">-->

<!--  <div class="window">-->

<!--    <header>-->
<!--      <p>Confirm</p>-->
<!--    </header>-->

<!--    <main>-->
<!--      <p>{{message}}</p>-->
<!--    </main>-->

<!--    <footer>-->
<!--      <button class="btn btn-primary" (click)="this.action.emit()">Ok</button>-->
<!--      <button class="btn btn-primary" (click)="this.cancel.emit()">Cancel</button>-->
<!--    </footer>-->


<!--    <button (click)="closed.next()">close</button>-->

<!--  </div>-->

<!--</div>-->
