<div class="modal-background">
  <div class="modal-window">
    <div class="modal-header">
      <span class="modal-title">{{ newUser ? 'Регистрация' : 'Вход' }}</span>
      <button mat-mini-fab color="basic" title="Закрыть окно"
              (click)="this.authService.authWindow.next(false);">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="modal-content">


        <form #userForm='ngForm' class="register-form">
          <span style="color: red">{{authService.error | async | error }}</span>

          <mat-form-field *ngIf="newUser"  class="example-full-width" appearance="outline" required minlength="5">
            <mat-label>Ваше имя:</mat-label>
            <input matInput name="name"  placeholder="Ваше имя" [(ngModel)]="user.displayName" >
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Ваш email:</mat-label>
            <input matInput name="email" placeholder="Ваш email:" [(ngModel)]="user.email" required>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Пароль:</mat-label>
            <input matInput name="password" type="password" placeholder="Ваш пароль:" [(ngModel)]="user.password" required minlength="6">
          </mat-form-field>

          <mat-form-field *ngIf="newUser" class="example-full-width" appearance="outline">
            <mat-label>Подтвердите пароль:</mat-label>
            <input matInput name="password"  type="password" placeholder="Подтвердите пароль" [(ngModel)]="user.confirmPass" required minlength="6">
          </mat-form-field>

          <div class="form-item">
            <button *ngIf="!newUser" mat-raised-button (click)="signIn()" [disabled]="userForm.invalid">Войти</button>
            <button *ngIf="newUser" mat-raised-button  (click)="signUp()" [disabled]="userForm.invalid">Зарегистрировать</button>
          </div>

          <div class="form-item">
            <span class="form-mode" (click)="changeMode()"> {{!newUser ? 'Зарегистрировать нового пользователя' : 'Уже зарегистрирован, войти' }} </span>
          </div>

        </form>


    </div>

    <div class="modal-footer"></div>
  </div>
</div>
