<div class="wrapper">
  <div class="modal">

    <header>
      <p>
        {{ newUser ? 'Регистрация' : 'Вход' }}
      </p>
      <button class="btn btn-red" (click)="authService.closeAuth()">x</button>
    </header>

    <main>
      <form #userForm='ngForm'>
        <span style="color: red">{{authService.error | async | error }}</span>

        <div class="form-item" *ngIf="newUser" required minlength="5">
          <label>Ваше имя:
            <input name="name" placeholder="Ваше имя" [(ngModel)]="user.displayName" required>
          </label>
        </div>

        <div class="form-item">
          <label>Ваш email:
            <input name="email" placeholder="Ваш email" [(ngModel)]="user.email" required>
          </label>
        </div>

        <div class="form-item">
          <label>Пароль:
            <input name="password" type="password" [(ngModel)]="user.password" placeholder="пароль" required minlength="6">
          </label>
        </div>

        <div class="form-item" *ngIf="newUser">
          <label>Подтвердите пароль:
            <input name="password" type="password" [(ngModel)]="user.confirmPass" placeholder="подтверждение пароля" required minlength="6">
          </label>
        </div>

        <div class="form-item">
          <button *ngIf="!newUser"
            (click)="signIn()"
            [disabled]="userForm.invalid"
            class="btn btn-primary"
          >Войти
          </button>

          <button *ngIf="newUser"
            (click)="signUp()"
            [disabled]="userForm.invalid"
            class="btn btn-primary"
          >Зарегистрировать
          </button>

        </div>

        <div class="form-item">
          <span class="form-mode" (click)="changeMode()"> {{
            !newUser
              ? 'Зарегистрировать нового пользователя'
              : 'Уже зарегистрирован, войти' }} </span>
        </div>

      </form>
    </main>

  </div>
</div>
