section {
  background-color: #e7eef5;
  border-radius: 10px;
  padding: 1rem;
}
header {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  padding-left: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: .5rem;
  strong {
    margin-right: 1rem;
  }
}
main {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

footer {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  input {
    margin-bottom: 15px;
  }
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 20px;
    height: 20px;
    margin: 0 20px 0 0 ;
  }
}

.done {
  text-decoration: line-through;
}
