<section>
  <header>
    <div>
      <strong class="header-date">{{ this.dateService.date$ | async | moment: 'DD.MM.YYYY'}}</strong>
      <span class="header-tasks" *ngIf="dayTasks.length">
      Всего задач: <strong>{{dayTasks.length}}</strong>  (выполненных - <strong> {{ dayTasks | comleted }}</strong>)
    </span>
    </div>
    <div class="header-go">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Выберите дату</mat-label>
        <input matInput [matDatepicker]="picker" (dateChange)="goToDate($event)">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </header>

  <main>
    <div class="list-header">
      <p>Заметки</p>
      <div>
        <button mat-mini-fab color="warn"
          [disabled]="selectedTasks.length < 1" (click)="remove()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-selection-list *ngIf="dayTasks.length; else noTasks">
      <mat-list-option *ngFor="let task of dayTasks; let i = index" (click)="selectTask(task)" color="primary">
        <mat-icon mat-list-icon color="primary">note</mat-icon>
        <div mat-line>{{task.title}}</div>
        <div mat-line><p style="font-size: .7rem">создана: {{task.updated | moment: 'DD-MM-YYYY (HH:mm)'}}</p></div>

      </mat-list-option>
    </mat-selection-list>
    <mat-divider></mat-divider>
    <h4 mat-subheader>Выбрано заметок: {{selectedTasks.length}}</h4>

    <ng-template #noTasks>
      <p class="text-center">На выбранную дату нет задач ...</p>
    </ng-template>
  </main>

  <p>Добавить новую задачу:</p>
  <footer>
    <form
      (ngSubmit)="add()"
      [formGroup]="form"
    >
      <label>Новая задача:</label>
      <input type="text" placeholder="Введите описание задачи" formControlName="title">
      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="form.invalid"
      >Добавить</button>
    </form>
  </footer>

</section>

