.organizer {
  background-color: white;
  padding: 1rem;
  border: 1px solid var(--border-color);
  &-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  &-tasks {
    font-size: 1.2rem;
    font-weight: bold;
  }
  &-buttons {
    flex: 1 1 auto;
    text-align: right;
    button:not(:last-child) {
      margin-right: .5rem;
    }
  }
  &-selected {
    font-size: 1rem;
    font-weight: bold;
  }
}


