/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #3f51b5;
  --dark-color: #767474;
  --light-color: #f4f4f4;
  --border-color: #b3b3b3;
  --weekday-color: #ff4d4d;
  --black-color: #111111;
  --task-color: rgba(246, 210, 141, 0.84);
  --selected-task: #e7e7e7;
}

.app-name {
  text-transform: uppercase;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  @media (max-width: 768px) {
    font-size: 14px;
  }
  @media (max-width: 576px) {
    font-size: 12px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  &:hover {
    color: #666;
  }
}

ul {
  list-style: none;
}

input {
  display: block;
  width: 100%;
  padding: .4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 0.5rem;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

table th {
  background: var(--light-color);
}


//angular-material
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//modal window
.modal {
  &-background {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(1,1,1, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &-window {
    position: fixed;
    max-height: 80vh;
    min-width: 80%;
    @media (max-width: 600px) {
      min-width: 95%;
    }
    //overflow: auto;
    background-color: var(--light-color);
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
  }
  &-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 1.25rem;
    margin-bottom: 1rem;
  }
  &-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
  }
  &-content {
    overflow: auto;
  }
  &-footer {

  }
}
